appdirs==1.4.4 ; python_version >= "3.9" and python_version < "3.10"
click==8.1.3 ; python_version >= "3.9" and python_version < "3.10"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "3.10" and platform_system == "Windows"
flask-cors==3.0.10 ; python_version >= "3.9" and python_version < "3.10"
flask==2.2.2 ; python_version >= "3.9" and python_version < "3.10"
importlib-metadata==4.4.0 ; python_version >= "3.9" and python_version < "3.10"
itsdangerous==2.1.2 ; python_version >= "3.9" and python_version < "3.10"
jinja2==3.1.2 ; python_version >= "3.9" and python_version < "3.10"
mako==1.1.6 ; python_version >= "3.9" and python_version < "3.10"
markupsafe==2.1.1 ; python_version >= "3.9" and python_version < "3.10"
pyqt5-qt5==5.15.2 ; python_version >= "3.9" and python_version < "3.10"
pyqt5-sip==12.11.0 ; python_version >= "3.9" and python_version < "3.10"
pyqt5==5.15.7 ; python_version >= "3.9" and python_version < "3.10"
pyqtwebengine-qt5==5.15.2 ; python_version >= "3.9" and python_version < "3.10"
pyqtwebengine==5.15.6 ; python_version >= "3.9" and python_version < "3.10"
six==1.16.0 ; python_version >= "3.9" and python_version < "3.10"
typer==0.4.2 ; python_version >= "3.9" and python_version < "3.10"
werkzeug==2.2.2 ; python_version >= "3.9" and python_version < "3.10"
zipp==3.10.0 ; python_version >= "3.9" and python_version < "3.10"
